h4 {
  font-size: 16px;
  margin-top: 20px;
}

h4, h5 {
  border-bottom: 1px dotted #ccc;
}

h5 {
  font-weight: bold;
  line-height: 27px;
  text-indent: 5px;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}

.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-danger {
  background-color: #f2dede;
}
.bg-info {
  background-color: #d9edf7;
}
.text-info {
  color: #31708f;
}
.text-danger {
  color: #a94442;
}

.article_num {
  padding: 10px;
  margin: 5px 0;
}
.ccinstance {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  float: left;
  line-height: 13px;
  margin: 3px 3px 3px 0;
  padding: 3px 6px 4px 6px;
}

.cccontainer {
  display: inline;
  margin-left: 0;
  position: default;
}

.ccrole {
  line-height: 28px;
  vertical-align: middle;
}

.left_col {
  float: left;
}

.left_col, .right_col {
  margin-top: 8px;
}


.right_col {
  float: right;
  margin-top: 8px;
}

.subdomain {
  text-decoration: underline;
}

.userroleget {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 0;
  padding: 0 6px;
}

.view_container {
  background-color: #F7F7F7;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 0 5px 17px 5px;
}

.nav>li>a {
  text-decoration: none;
  color: #fff;
  background: #8DBE4F;
}

.nav>li>a:hover {
  text-decoration: none;
  background: #99CC56;
}


.nav-pills>li {
	float: none;
	display: block;
	margin-bottom: 4px;
}

.nav .fa {
  margin-right: 5px;
}

.nav {
	margin-bottom: 0;
}
ul.links {
  padding: 5px 0;
}
li.ticket.highlight > a {
  background-color: #5D7F2F;
}
li.ticket.highlight > a:hover {
  background-color: #99CC56;
}

li.ticket.internal > a {
  background-color: #981FB2;
}
li.ticket.internal > a:hover {
  background-color: #E35FFF;
}
.label > a {
  color: #FFF;
}

.label-success {
    /*background-color: #5cb85c;*/
    background-color: #468847;
}
.label-light {
    background-color: #ECECEC;
    color: #000;
/*    font-weight: normal;
*/}
.label-default {
    background-color: #777;
}
.label-primary {
    background-color: #337ab7;
}
.label-info {
    background-color: #5bc0de;
}
.label-warning {
    background-color: #F89406;
}
.label-danger {
    background-color: #d9534f;
}

.school-info .label {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 10px;
  text-shadow: none;
  margin-bottom: 2px;
  padding-top: 2px;
  display: inline-block;
}

a.label-success:hover {
  background-color: #58AB59;
}
a.label-light:hover {
    background-color: #D4D4D4;
}
a.label-default:hover {
    background-color: #979797;
}
a.label-primary:hover {
    background-color: #3D90D9;
}
a.label-info:hover {
    background-color: #65D5F7;
}
a.label-warning:hover, button.label-warning:hover {
    background-color: #FFAF40;
}
a.label-danger:hover {
    background-color: #F25C57;
}


.alert {
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    /*clear: both;*/
}

.btn-kb {
  text-decoration: none;
  color: #fff;
  background: #8DBE4F;
  border-color: #FFF;
  width: 43%;
}
.btn-kb.highlight {
  background-color: #5D7F2F;
}
.btn-kb.full {
  width: 92.5%;
}
button.btn-kb.full {
  width: 99.3%;
}
.btn-kb:hover {
  text-decoration: none;
  background: #99CC56;
  box-shadow: none;
}
.btn-kb.internal {
  background-color: #981FB2;
}
.btn-kb.internal:hover {
  background-color: #E35FFF;
}
.btn-kb.bug {
  background-color: #F89406;
}
.btn-kb.bug:hover {
  background-color: #FFAF40;
}
.btn-kb .fa {
  margin-right: 5px;
}


.btn-group.kb-links {
  display: inline-block;
}


.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-center {
  right: auto;
  left: -100px;
}

.kb-links .dropdown-menu li {
  /*padding-left: 10px;*/
}
.kb-links .dropdown-menu li p {
    padding: 7px 20px;
    font-size: 12px;
    color: #777;
}

.kb-links .dropdown-menu button {
    color: #555;
    padding: 7px 20px;
    font-size: 12px;
}



.school-info {
  padding: 2px 0 0;
  margin: 0;
}


.ticket .apps .app_view {
  padding: 15px;
}

.btn.pull-left.create-idea {
    display: none;
}



a#chat_button {
    margin-top: 6px;
}

.single-alert {
  margin: 4px 0 -6px 0;
}


.native-emoji {
    font-size: 15px;
    padding: 0;
    font-family: AppleColorEmoji;
}

.native-emoji, .emoji {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    /*cursor: pointer;*/
}

input#phone_input {
    font-size: 15px;
    border: 0;
    box-shadow: none;
}

textarea#chat_transcript {
  width: 98%;
  height: 300px;
}

#chat_transcript_modal {
  width: 700px;
  height: 450px;
}

#solve_confirmation_modal {
  width: 700px;
  /*height: 450px;*/
}
.upper {
  text-transform: capitalize;
}

.kb_popover {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: -6px;
}
.kb_popover .popover {
  width: 280px;
}
/*.kb_popover .popover-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 20px;
}*/
#kb_success_popover .popover-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 20px;
}
#kb_success_popover .popover-title { display: none; }

.kb_popover .popover.top .arrow {
  border-top: 5px solid #468847;
}
.kb_success_pic img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.kb_success_pic {
  width: 50px;
  height: 50px;
  background: #D2D2D2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -20px;
  border: 2px solid #828282;
  padding: 0px;
}

.kb_success_pic {
    width: 50px !important;
  height: 50px !important;
  background: #D2D2D2 !important;
}

.popover {
  background-color: red;
}
.btn-group.kb-links > .dropdown-toggle {
  padding: 5px 11px;
  margin-bottom: 4px;
}
